body, html {
background-repeat: no-repeat;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
p {
font-family:Verdana, Arial, Helvetica, sans-serif;
padding-top:0px;
margin-top:1px;
margin-bottom:3px;
margin-left:5px;
margin-right:10px;
font-size:12px;
text-align:justify;
text-indent:5px;
}
li {
font-family:Verdana, Arial, Helvetica, sans-serif;
margin-top:1px;
margin-bottom:1px;
margin-right:10px;
margin-left:0px;
text-indent:0px;
font-size:12px;
list-style: inside;
}
ul,ol {
margin-top:3px;
margin-bottom:3px;
}
span {
font-size:12px;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
.14 {
font-size:12px;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
.fform {
background-color: #EAEAEA;
border-top-color: Gray;
border-bottom-color: Silver;
border-right-color: Silver;
border-left-color: Gray;
font-size: 12px;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.trans {
filter:alpha(opacity=50);
-moz-opacity:0.5;
-khtml-opacity: 0.5;
opacity: 0.5;
}
.trans30 {
filter:alpha(opacity=30);
-moz-opacity:0.3;
-khtml-opacity: 0.3;
opacity: 0.3;
}
.trans70 {
filter:alpha(opacity=70);
-moz-opacity:0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
}
.dispno
{
display: none;
}