body, td, tr {
	text-decoration: none;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 8pt;
	cursor: default;
	color: #605074;
}

body {
	margin: 3px;
	padding: 3px;
	background: #acafc0;
	color: #605074;
}


/*system conf*/
.submenu, span.submenu, div.submenu {display: none;}
.w {background-color:#fff; font-size: 13; padding: 0 0 0 10; cursor: pointer;}
.on {background-color:#ccc; font-size: 13; padding: 0 0 0 10; cursor: pointer;}
.menu {font-size: 10; font-weight: bold; background-color:#f1f1f1;}
img {border:0;}
.dmenu {margin-top:15px;}

/*в настройках системы кнопки разделов*/
.mnon, .mnoff {font-weight:bold;color:#333333;font-size:13;cursor:pointer;}
.mnon {background-color:#f0f0f0;}
.mnoff {background-color:#e5e5e5;}

/*подсказки*/
#tooltip {
	background: #fff;
	border: 1px solid #000;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0px;
	padding: 2px 2px;
	position: absolute;
	visibility: hidden;
}

input.pin_enter {width: 77px; color: #000;}


.fld_set {
padding: 0px;
margin: 0px;
font-family: Courier; 
font-size: 12px; 
width: 98%;
border: 1px solid #eee;
border-left: 5px solid #ccc;
background:#fcfcfc;

}

.fdcd {
padding: 0px 0px 0px 5px;
margin: 0px;
height: 100px;
overflow: auto;
}

.tr_field {
color: #000;
	border: #ccc 1px solid;
	padding: 2px;
	background: #f5f5f5;
	margin: 5px;
	font-family: Verdana;
	line-height: 15px;
	font-size: 11px;
	
}

.show_text {
color: #000;
	border: #ccc 1px solid;
	padding: 2px;
	background: #f5f5f5;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: Verdana;
	line-height: 15px;
	font-size: 11px;
}

.vinfo {
	white-space: nowrap;
	font-weight: bold;
}

legend {
	color: #5a58cf;
	width: 100%;
	font-size: 12px;
	font-weight: bold;
	border-bottom: solid 1px #f7f7f7;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

fieldset {
	border: solid 1px #fff;
	padding-bottom: 10px;
}

#title, #short, #full, #actions {
	width: 95%;
	border-right: solid 1px #e8ecf7;
	float: left;
	clear: both;
}

#short textarea, #full textarea {
	width: 100%;
	height: 150px;
}

#title input {
	width: 100%;
}

#options div legend {
	color: #587ccf;
	width: 230px;
	font-size: 10px;
	font-weight: bold;
	border-top: solid 1px #d0d2d9;
	padding: 8px;
	padding-left: 15px;
	margin: 0px;
}



form {
	margin: 0px;
	padding: 0px;
}

a:active, a:visited, a:link {
	color: #283fa6;
	text-decoration: none;
	font-size: 9pt;
}

a:hover {
	color: #fe771d;
	text-decoration: none;
	font-size: 9pt;
}

a.nav:active, a.nav:visited, a.nav:link {
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}

a.nav:hover {
	font-size: 10px;
	font-weight: bold;
	color: #edeef6;
	text-decoration: underline;
}

input, select {
	font-size: 8pt;
}

textarea {
	width: 100%;
	font-size: 9pt;
	overflow-y: visible;
	padding: 5px;
}

.bborder {
font-size: 11px; 
font-family: Verdana, Arial, Helvetica, sans-serif;
text-decoration: none; color : #555555;
background-color: #ffffff;
border: 1px solid #8085a3;
padding: 5px;
}

.panel {
	-moz-border-radius: .3em .3em .3em .3em;
	background-color: #e8ecf7;
	padding: 3px;
	color: #605074;
}

.title-panel {
	-moz-border-radius: .3em .3em .3em .3em;
	background-color: #f7f7f7;
	padding: 15px 3px 3px 3px;
	color: #444;
	font-weight: bold;
	height: 26px;
}

.panelm {
	-moz-border-radius: .1em .1em .1em .1em;
	background-color: #B4B5C9;
	padding: 3px;
	color: #444;
}

.main {
	-moz-border-radius: 3em 3em 0em 0em;
	border: 1px solid #b4b5c9;
	color: #605074;
	background: #e8ecf7;
      background: url(images/bg_nav_top.gif) repeat-x;
        
	
}

.topt{color: #f3f3f3;}


tr.fon0 {background: #fafafa; color: #000;}
tr.fon1 {background: #efefef; color: #000;}
tr.fon2 {background: #f1f1f1; color: #000;}

.copyrights {
	-moz-border-radius: 0em 0em 3em 3em;
	border: 1px solid #afb6e0;
	color: #605074;
	background: #e8ecf7;
}

.copyright { 
font-size: 10px; 
font-family: Verdana, Arial, Helvetica, sans-serif;
text-decoration: none; 
color: #547bb6;
}

.admmenu {
-moz-border-radius: 0em 0em 1em 0em;
padding-left: 5px;
color: #000;
background: #f5f5f5;
}

h1, h2, h3 {
	font-size: 12px;
	color: #afb6e0;
	border-bottom: solid 1px #e8ecf7;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-bottom: 5px;
}

.tabnum {
    padding: 5px 5px;
    font-size: 13px;
    font-weight: bold;
    color: #555;
    text-decoration: none;
}

.header {
    font-size: 14px;
    font-weight: bold;
    color: #afb6e0;
    text-decoration: none;
}

#plugins {
	width: 100%;
	border-collapse: collapse;
}

#plugins td, #plugins th {
	border: 1px solid #fff;
	padding: 3px;
}

#plugins th {
	font-size: 12px;
	color: #afb6e0;
	border-bottom: solid 1px #fff;
	padding: 5px;
}

.code {
	border: #e8ecf7 1px solid;
	padding: 5px;
	background: #e8ecf7;
	margin: 10px;
	font-family: Andale Mono, Courier;
	line-height: 15px;
	font-size: 11px;
}

.disabled {
	background: #e8ecf7;
}

.enabled {
	background: #f1f4fd;
}

.pdisabled {
	background: #FFF2F2;
}

.penabled {
	background: #ECFFDD;
}

.tags {
	padding-bottom: 5px;
	padding-top: 5px;
}

#navcell {
	cursor: hand;
	padding: 5px;
	color: #afb6e0;
	font-weight: bold;
	font-size: 12px;
}

.tab-on {
	background-color: #e8ecf7;
}

.tab-off {
	background-color: #fff;
}

.tab-none {
	/* пустая хуита */
}

.tab-content {
	background-color: #fff;
	display: none;
}

.opt-title {
	color: #605074;
	padding: 3px;
}

.opt-desc {
	color: #605074;
	padding: 3px;
	border-bottom: 1px solid #fff;
}

.opt-space {
	padding: 3px;
	border-bottom: 1px solid #fff;
}



.aut {
font-weight: bold; 
font-size: 11px; 
font-family: Verdana, Arial, Helvetica, sans-serif;
text-decoration: none; 
color : #605074;
}



.men {
	color: #605074;
	width: 100%;
	font-size: 12px;
	font-weight: bold;
        background-color: #e5e6ee;
	border: solid 1px #ffffff;
	padding: 8px;
	margin: 8px;
}


.comm {
	border: #ffffff 1px solid;
	padding: 8px;
	background: #c6c9d8;
	margin: 8px;
	font-family: Verdana, sans-serif;
	line-height: 15px;
	font-size: 11px;
}



.text {
FONT-SIZE: 11px; 
TEXT-INDENT: 0px; 
FONT-FAMILY: Verdana, sans-serif; 
color: #383141;
TEXT-ALIGN: deafult;
}

hr {width: 100%; height: 0px; border: solid #d7d4e5 0px; border-top-width: 1px;}

/*/ php info /*/
.phpinfo {
  padding: 5px 0;
  overflow: auto;
  width: 99%;
}

.phpinfo td, .phpinfo th {
  text-align: left;
  padding: 5px;
}

.phpinfo th {
  background: #E8EEF2;
}

.phpinfo img {
  float: right; 
  border: 0px;
}

.adepto_fastload_field {
 	font-size: 11px;
	color: #111;
	border-top: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
	background: #ECFFDD;
	padding: 2px;
}